.submission-form {
  .form-label-heading {
    padding-top: 10px;
    color: #fff;
  }

  .form-content-heading {
    color: #fff;
    font-weight: 700;
  }

  .summary-text-area {
    height: 100px;
  }
}