/* flexy sticky footer */

html {
  height: 100%;
}

body {
  margin: 0;
  /* Takes away the default margin which would otherwise make the body extend beyond 100% of page height */
  display: -webkit-box;
  display: flex;
  /* Items have equal height */
  /* same as display:flex for IE11 */
  display: -webkit-flex;
  /* iPad & Safari */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* layout item's content vertically */
  /* flex-direction: column for IE11 */
  height: 100%;
  /* Needed for IE11 so that body takes up at least 100% of height */
}

header {
  -webkit-box-flex: 0;
  flex: none;
}

.main {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  flex-basis: auto;
  /*background-color: #eee;  let's fade to grey...  ' */
}

footer {
  -webkit-box-flex: 0;
  flex: none;
}

.footer > span {
  color: white;
}

/*flex footer ends here*/

.footer {
  color: #fff;
}

.footer .footer-wrapper {
  background-color: #4c545e;
  padding: 10px 0 25px 0;
}

.footer .footer-tagline {
  background-color: #353b41;
}

.footer .footer-headings {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;
}

.footer .social-icon {
  font-size: 25px;
  color: #fff;
  padding: 0 5px;
}

.footer .logo {
  width: 200px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

.banner .banner-content-wrapper {
  min-height: inherit;
}

.banner .banner-content-wrapper .banner-content {
  padding: 30px 20px;
  text-shadow: 2px 2px black;
}

.banner .banner-content-wrapper .header-spacer {
  height: 100px;
}

@media (min-width: 768px) {
  .banner .banner-content-wrapper .banner-content {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.banner .banner-content-wrapper h1,
.banner .banner-content-wrapper h2,
.banner .banner-content-wrapper h3,
.banner .banner-content-wrapper h4,
.banner .banner-content-wrapper h5,
.banner .banner-content-wrapper h6,
.banner .banner-content-wrapper p {
  margin-bottom: 0;
  color: #fff;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6,
.home p {
  color: #fff;
}

.home .content-wrapper {
  background-color: #151719;
}

