/* flexy sticky footer */

html {
  height: 100%;
}

body {
  margin: 0;
  /* Takes away the default margin which would otherwise make the body extend beyond 100% of page height */
  display: -webkit-box;
  display: flex;
  /* Items have equal height */
  /* same as display:flex for IE11 */
  display: -webkit-flex;
  /* iPad & Safari */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* layout item's content vertically */
  /* flex-direction: column for IE11 */
  height: 100%;
  /* Needed for IE11 so that body takes up at least 100% of height */
}

header {
  -webkit-box-flex: 0;
  flex: none;
}

.main {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  flex-basis: auto;
  /*background-color: #eee;  let's fade to grey...  ' */
}

footer {
  -webkit-box-flex: 0;
  flex: none;
}

.footer > span {
  color: white;
}

/*flex footer ends here*/

.footer {
  color: #fff;
}

.footer .footer-wrapper {
  background-color: #36454f;
  padding: 25px 0;
}

.footer .footer-tagline {
  background-color: #292929;
}

.footer .footer-headings {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;
}

.footer .social-icon {
  font-size: 25px;
  color: #fff;
  padding: 0 5px;
}

.footer .logo {
  width: 200px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.banner .banner-content {
  padding: 30px 20px;
  text-shadow: 2px 2px black;
}

@media (min-width: 768px) {
  .banner .banner-content {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6,
.banner p {
  margin-bottom: 0;
  color: #fff;
}

