/* flexy sticky footer */

html {
  height: 100%;
}

body {
  margin: 0;
  /* Takes away the default margin which would otherwise make the body extend beyond 100% of page height */
  display: -webkit-box;
  display: flex;
  /* Items have equal height */
  /* same as display:flex for IE11 */
  display: -webkit-flex;
  /* iPad & Safari */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* layout item's content vertically */
  /* flex-direction: column for IE11 */
  height: 100%;
  /* Needed for IE11 so that body takes up at least 100% of height */
}

header {
  -webkit-box-flex: 0;
  flex: none;
}

.main {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  flex-basis: auto;
  /*background-color: #eee;  let's fade to grey...  ' */
}

footer {
  -webkit-box-flex: 0;
  flex: none;
}

.footer > span {
  color: white;
}

/*flex footer ends here*/

.footer {
  color: #fff;
}

.footer .footer-wrapper {
  background-color: #1e1a1a;
  padding: 10px 0 25px 0;
}

.footer .footer-tagline {
  background-color: #222427;
}

.footer .footer-headings {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.footer .social-icon {
  font-size: 20px;
  color: #fff;
  padding: 0 5px;
}

.footer .logo {
  width: 200px;
}

.banner {
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-content-wrapper {
  min-height: inherit;
}

.banner .banner-content-wrapper .banner-content {
  padding: 30px 20px;
  text-shadow: 2px 2px black;
}

.banner .banner-content-wrapper .header-spacer {
  height: 100px;
}

@media (min-width: 768px) {
  .banner .banner-content-wrapper .banner-content {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.banner .banner-content-wrapper h1,
.banner .banner-content-wrapper h2,
.banner .banner-content-wrapper h3,
.banner .banner-content-wrapper h4,
.banner .banner-content-wrapper h5,
.banner .banner-content-wrapper h6,
.banner .banner-content-wrapper p {
  margin-bottom: 0;
  color: #fff;
}

.no-banner {
  padding-top: 100px;
  background-color: black;
}

.home {
  background-color: #fff;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6,
.home p {
  color: #fff;
}

.home .open-close {
  color: #00446f;
}

.home .campaign-text {
  color: #00446f;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.content-wrapper {
  background-color: #151719;
}

.campaigns {
  padding: 15px 25px;
  box-shadow: 10px 10px 6px #c1baba;
  border-radius: 10px;
  background-color: rgba(222, 226, 230, 0.71);
  margin: 0 15px;
}

.campaigns .cpation-heading {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  color: #00446f;
}

.campaigns img.tile-images {
  width: 300px;
  height: 200px;
}

.campaigns .open-close {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.campaign {
  background-color: #fff;
}

.campaign h1,
.campaign h2,
.campaign h3,
.campaign h4,
.campaign h5,
.campaign h6,
.campaign p {
  color: #fff;
}

.campaign .open-close {
  color: #00446f;
}

.forum-page {
  background-color: #fff;
}

.forum-page .grid-item {
  width: 200px;
  float: left;
}

.forum-page .submission-content {
  background: #f8f8f8;
  border: 3px solid;
  border-radius: 0 0 30px 0;
  margin-bottom: 10px;
}

.forum-page .latest-submission {
  margin-top: 45px;
}

.forum-page .forum-text {
  color: #00446f;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.forum-page .name {
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
}

.forum-page .submission-content-wrapper {
  padding: 10px;
}

.forum-page .form-wrapper {
  background-color: #222427;
  padding: 10px 0;
}

.forum-page .form-wrapper .form-content-heading {
  color: #fff;
}

