.forum-page {
  background-color: $content-background;
  .grid-item {
    width: 200px;
    padding: 10px;
    background: #f8f8f8;
    border: 3px solid;
    border-radius: 10px;
  }
  .grid-item--width2 {
    width: 400px;
  }

  .name {
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
  }
}
