.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;

  .banner-content {
    padding: 30px 20px;
    text-shadow: 2px 2px black;
  }

  @media (min-width: 768px) {
    .banner-content {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    color: #fff;
  }
}
