.banner {
  min-height: 450px;
  background-repeat: no-repeat !important;
  background-size: cover !important;

.banner-content-wrapper {
    min-height: inherit;

  .banner-content {
      padding: 30px 20px;
      text-shadow: 2px 2px black;
    }

    .header-spacer {
      height: 100px;
    }

    @media (min-width: 768px) {
      .banner-content {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    h1, h2, h3, h4, h5, h6, p {
      margin-bottom: 0;
      color: #fff;
    }
  }
}

.no-banner {
  padding-top: 100px;
  background-color: rgb(0,0,0);
}
